header, nav, main, footer {
        max-width: 64rem;
        margin:auto;
}

/*----------- BODY --------------*/



/*----------- HEADER --------------*/

i{
        font-size: 4rem;
        margin-top: .5rem;
}

/*----------- NAVIGATION --------------*/



/*----------- MAIN --------------*/
div.fruitstand figure{
        flex-basis: 21%;
    }


/*----------- FOOTER --------------*/
    
